{% macro filter_words_form (form=None) %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form--row">
            <div class="form-group">
                {{ form.word.label }}
                {{ form.word }}
            </div>
            <div class="form-group">
                {{ form.language.label }}
                {{ form.language }}
            </div>
            <div class="form-group">
                {{ form.category.label }}
                {{ form.category }}
            </div>
            <div class="form-group">
                {{ form.country.label }}
                {{ form.country }}
            </div>
            {{ form.submit(class="btn") }}
            <a href="{{ url_for('Produce.produce') }}" class="btn">Clear filters</a>
        </div>
    </form>
{% endmacro %}

{% macro word_card (word=None) %}
    <div class="card">
        <div class="card__info">
            <p>Word: {{ word.word }}</p>
            <p>Language: {{ word.language }}</p>
            <p>Category: {{ word.category }}</p>
            <p>Country: {{ word.country }}</p>
        </div>
    </div>
{% endmacro %}
