{% extends 'base.html' %}
{% from 'components/macros.html' import filter_words_form, word_card %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produce.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Search swear words, motherfucker!</h2>
    <h3 class="text--gray">
        Try filtering words by language or category, bitch!
    </h3>
    {{ filter_words_form(form=form) }}
    <div class="produce">
        {% if words|length %}
            {% for word in words %}
                {{ word_card(word=word) }}
            {% endfor %}
        {% else %}
            <h3 class="text--gray">
                No words found for selected filters, shithead!
            </h3>
        {% endif %}
    </div>
{% endblock %}